# Naive_bayes
   predicting wine class using different features using Gaussian naive bayes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_wine

In [2]:
wine=load_wine()
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [14]:
df=pd.DataFrame(wine.data)
df['target']=pd.DataFrame(wine.target)

In [17]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,target
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,0.938202
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.775035
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,0.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,0.000000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,1.000000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,2.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,2.000000

In [19]:
X=df.drop(df['target'], axis=1)
y=df['target']

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2)
len(X_train), len(X_test)

(142, 36)

In [21]:
from sklearn.naive_bayes import GaussianNB
clf=GaussianNB()

In [22]:
clf.fit(X_train, y_train)

GaussianNB()

In [23]:
y_pred=clf.predict(X_test)

In [29]:
from sklearn.metrics import confusion_matrix, accuracy_score
accuracy_test=accuracy_score(y_pred, y_test)
cm=confusion_matrix(y_test, y_pred)
cm, accuracy_test

(array([[10,  0,  0],
        [ 0, 16,  0],
        [ 0,  0, 10]], dtype=int64),
 1.0)